h1,
h2 {
  opacity: 1;
}

h1:not(#home-title) {
  font-family: 'Source Code Pro', monospace;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  background-color: rgba(51, 71, 123, 0);
  padding: 0;
}

nav {
  -webkit-animation: nav-appear-animation 500ms ease-in-out forwards;
          animation: nav-appear-animation 500ms ease-in-out forwards;
}

nav #home-title span b {
  color: #5c5587;
}

#fg-container {
  opacity: 0;
  -webkit-transition: opacity 1000ms ease-in-out 500ms;
  transition: opacity 1000ms ease-in-out 500ms;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
}

#fg-container #centering-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fg-container #centering-container #left-container {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem;
}

#fg-container #centering-container #left-container #rklogo {
  width: 10rem;
  border: 0.1rem solid #656185;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(0.2rem);
          backdrop-filter: blur(0.2rem);
}

#fg-container #centering-container #left-container #dotline-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  height: 40%;
}

#fg-container #centering-container #left-container #dotline-container #dotline-line {
  height: calc(100% - 1rem);
  width: 0.1rem;
  background-color: rgba(114, 83, 192, 0.419);
}

#fg-container #centering-container #left-container #dotline-container .dotline-dot {
  width: 0.3rem;
  height: 0.3rem;
  border: 0.15rem solid rgba(106, 95, 163, 0.571);
  border-radius: 50%;
}

#fg-container #centering-container #left-container #name-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

#fg-container #centering-container #left-container #name-icon-container #rk-name {
  font-size: 1rem;
  margin-top: 1rem;
}

#fg-container #centering-container #left-container #name-icon-container #social-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#fg-container #centering-container #left-container #name-icon-container #social-icon-container .social-icon {
  width: 100%;
}

#fg-container #centering-container #left-container #name-icon-container #social-icon-container #linkedin-icon {
  margin-right: 1rem;
  margin-top: 1rem;
  width: 2rem;
}

#fg-container #centering-container #left-container #name-icon-container #social-icon-container #ig-icon {
  margin-left: 1rem;
  margin-top: 1rem;
  width: 2rem;
}

#fg-container #centering-container #right-container {
  margin: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fg-container #centering-container #right-container #text-title {
  position: absolute;
  z-index: 10;
  font-size: 1.5rem;
  color: #f0f3ff;
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: rgba(135, 148, 200, 0.465);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

#fg-container #centering-container #right-container #text-desc {
  line-height: 2;
  margin-top: 2rem;
  text-align: justify;
  padding: 3rem 2rem;
  background-color: rgba(240, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(0.3rem);
          backdrop-filter: blur(0.3rem);
  border-radius: 2rem;
}

#background {
  opacity: 0;
  -webkit-transition: opacity 1000ms ease-in-out;
  transition: opacity 1000ms ease-in-out;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1000;
}

#background #background-color {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6f6ed), to(#c9dcf8));
  background: linear-gradient(#e6f6ed 0%, #c9dcf8 100%);
}

canvas {
  position: fixed;
  z-index: -5;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: opacity 800ms ease-in-out, -webkit-transform 1000ms cubic-bezier(0.06, 0.65, 0.25, 0.97) 1500ms;
  transition: opacity 800ms ease-in-out, -webkit-transform 1000ms cubic-bezier(0.06, 0.65, 0.25, 0.97) 1500ms;
  transition: transform 1000ms cubic-bezier(0.06, 0.65, 0.25, 0.97) 1500ms, opacity 800ms ease-in-out;
  transition: transform 1000ms cubic-bezier(0.06, 0.65, 0.25, 0.97) 1500ms, opacity 800ms ease-in-out, -webkit-transform 1000ms cubic-bezier(0.06, 0.65, 0.25, 0.97) 1500ms;
}

@media only screen and (max-width: 50rem) {
  #fg-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 10rem;
  }
  #fg-container #centering-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #fg-container #centering-container #left-container {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #fg-container #centering-container #left-container #dotline-container {
    display: none;
  }
  #fg-container #centering-container #left-container #name-icon-container {
    margin-left: 2rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #fg-container #centering-container #left-container #name-icon-container #rk-name {
    text-align: left;
  }
}
/*# sourceMappingURL=about.css.map */