* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
  font-family: 'Exo', sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin-top: 10vh;
}

#explode-transition {
  position: fixed;
  background-color: #f3f3f3;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
}

#web-builder {
  position: relative;
  width: 50vw;
  height: calc(50vw * 1.13);
  max-width: 25rem;
  max-height: calc(25rem * 1.13);
}

#web-builder #tags {
  position: relative;
  width: 30%;
  height: 30%;
  top: 0%;
  border-spacing: 1vw;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: disappearing 5s infinite ease-in-out;
          animation: disappearing 5s infinite ease-in-out;
}

#web-builder .tag {
  position: absolute;
  opacity: 1;
  background-color: #d1d1d1;
  color: #3E3E3E;
  text-align: center;
  width: auto;
  height: auto;
  font-size: calc(min(2vw, 1.0rem));
  padding: 4%;
  border-radius: 10%;
}

#web-builder #tag1 {
  left: 0%;
  top: 10%;
  -webkit-animation: tag1-appear 5s infinite ease-in-out;
          animation: tag1-appear 5s infinite ease-in-out;
}

#web-builder #tag2 {
  left: 65%;
  top: 20%;
  -webkit-animation: tag2-appear 5s infinite ease-in-out;
          animation: tag2-appear 5s infinite ease-in-out;
}

#web-builder #tag3 {
  left: 0%;
  top: 45%;
  -webkit-animation: tag3-appear 5s infinite ease-in-out;
          animation: tag3-appear 5s infinite ease-in-out;
}

#web-builder #tag4 {
  left: 70%;
  top: 50%;
  -webkit-animation: tag4-appear 5s infinite ease-in-out;
          animation: tag4-appear 5s infinite ease-in-out;
}

#web-builder #builder-bg {
  position: absolute;
  width: 100%;
  top: 25%;
  -webkit-animation: squeeze 5s infinite ease-in-out;
          animation: squeeze 5s infinite ease-in-out;
  -webkit-animation-delay: 4.8s;
          animation-delay: 4.8s;
}

#web-builder #builder-bg-explode {
  position: absolute;
  display: none;
  opacity: 0;
  width: 100%;
  top: 25%;
  -webkit-animation: squeeze 5s infinite ease-in-out;
          animation: squeeze 5s infinite ease-in-out;
  -webkit-animation-delay: 4.8s;
          animation-delay: 4.8s;
  z-index: 3;
  -webkit-animation: builder-blink 2s ease-in-out;
          animation: builder-blink 2s ease-in-out;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#web-builder .cogs img {
  position: absolute;
  z-index: 1;
}

#web-builder #cog1 {
  width: 55%;
  left: 0%;
  top: 45%;
  -webkit-animation: rotate-cog-clockwise 10s infinite linear;
          animation: rotate-cog-clockwise 10s infinite linear;
}

#web-builder #cog2 {
  width: 30%;
  left: 40%;
  top: 42%;
  -webkit-animation: rotate-cog-anticlockwise 8s infinite linear;
          animation: rotate-cog-anticlockwise 8s infinite linear;
}

#web-builder #cog3 {
  width: 20%;
  left: 42%;
  top: 70%;
  -webkit-animation: rotate-cog-anticlockwise 5s infinite linear;
          animation: rotate-cog-anticlockwise 5s infinite linear;
}

#web-builder p {
  position: absolute;
  width: 100%;
  color: #DCDCDC;
  text-align: center;
  font-size: calc(min(3vw, 1.5rem));
  top: 90%;
  z-index: 1;
}

#web-builder .onoff-toggler {
  position: absolute;
  width: 20%;
  z-index: 1;
  top: 50%;
  left: 75%;
  text-align: center;
}

#web-builder #on-toggler {
  color: white;
  background-color: #25C05D;
  font-size: calc(min(3vw, 1.5rem));
  padding: 10%;
}

#web-builder #off-toggler {
  color: white;
  background-color: #EE6767;
  background-color: #555555;
  font-size: calc(min(3vw, 1.5rem));
  padding: 10%;
}

#web-builder #off-builder {
  position: absolute;
  border-style: none;
  opacity: 0;
  background-color: gray;
  width: 100%;
  height: 70%;
  z-index: 5;
}

#web-builder #spark1 {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  width: 30%;
  top: 35%;
  left: 20%;
  -webkit-animation: spark-expand 2s infinite ease-in;
          animation: spark-expand 2s infinite ease-in;
}

#web-builder #spark2 {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  width: 15%;
  top: 60%;
  left: 85%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation: spark-expand 3s infinite ease-in;
          animation: spark-expand 3s infinite ease-in;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

#web-builder #smoke1 {
  position: absolute;
  visibility: hidden;
  z-index: 2;
  width: 40%;
  opacity: 0;
  left: 0%;
  top: 60%;
  -webkit-animation: smoke-expand 2s infinite ease-in;
          animation: smoke-expand 2s infinite ease-in;
}

#web-builder #smoke2 {
  position: absolute;
  visibility: hidden;
  z-index: 2;
  width: 20%;
  opacity: 0;
  left: 70%;
  top: 40%;
  -webkit-animation: smoke-expand 2s infinite ease-in;
          animation: smoke-expand 2s infinite ease-in;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#web-builder #speech-bubble {
  position: absolute;
  width: 20%;
  right: 0%;
  top: 0%;
  visibility: hidden;
}

#web-builder .robot-class {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 45%;
  top: 40%;
  z-index: -1;
  -webkit-animation: robot-body-idle 1s ease-in-out;
          animation: robot-body-idle 1s ease-in-out;
}

#web-builder .robot-class #robot-body {
  position: inherit;
  z-index: 0;
  width: 42%;
}

#web-builder .robot-class #robot-arm {
  position: inherit;
  z-index: 1;
  width: 26%;
  left: 36%;
  top: 18%;
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation: arm-normal-idle 1s ease-in-out;
          animation: arm-normal-idle 1s ease-in-out;
}

#builder-exploded {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vw;
  z-index: 6;
}

#builder-exploded h1 {
  font-size: calc(min(5vw, 2rem));
  padding: 4%;
  text-align: center;
}

#builder-exploded h2 {
  opacity: 0.6;
  font-size: calc(min(4vw, 1.5rem));
  padding: 1%;
  text-align: center;
}

#builder-exploded p {
  opacity: 0.4;
  text-align: center;
  font-size: calc(min(2vw, 1rem));
}

#builder-exploded img {
  margin-top: 10%;
  width: 60%;
  max-width: 40rem;
}

.foreground-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foreground-text > * {
  margin: 0.5rem;
  text-align: center;
  color: #3E3E3E;
}

.foreground-text h1 {
  font-size: calc(min(5vw, 2rem));
}

.foreground-text h2 {
  opacity: 0.6;
  font-size: calc(min(5vw, 1.5rem));
}

.foreground-text p {
  font-size: calc(min(3vw, 1rem));
  border-style: solid;
  border-color: #9b9b9b71;
  border-width: 0.1rem;
  border-radius: 2rem;
  padding: 0.4rem 2rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .horizontal-line {
  margin: 1vw 2vw;
  width: calc(min(15vw, 4rem));
}

footer a {
  font-size: calc(min(1.5vw, 0.8rem));
  opacity: 0.6;
  text-align: center;
  text-decoration: none;
  color: #3E3E3E;
}

@-webkit-keyframes rotate-cog-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-359deg);
            transform: rotate(-359deg);
  }
}

@keyframes rotate-cog-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-359deg);
            transform: rotate(-359deg);
  }
}

@-webkit-keyframes rotate-cog-anticlockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotate-cog-anticlockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@-webkit-keyframes squeeze {
  0% {
    -webkit-transform: scaleY(1) scaleX(1) skewX(0deg);
            transform: scaleY(1) scaleX(1) skewX(0deg);
  }
  2% {
    -webkit-transform: scaleY(0.9) scaleX(1.1) skewX(3deg);
            transform: scaleY(0.9) scaleX(1.1) skewX(3deg);
  }
  8% {
    -webkit-transform: scaleY(1) scaleX(1) skewX(-3deg);
            transform: scaleY(1) scaleX(1) skewX(-3deg);
  }
  10% {
    -webkit-transform: scaleY(1) scaleX(1) skewX(0deg);
            transform: scaleY(1) scaleX(1) skewX(0deg);
  }
}

@keyframes squeeze {
  0% {
    -webkit-transform: scaleY(1) scaleX(1) skewX(0deg);
            transform: scaleY(1) scaleX(1) skewX(0deg);
  }
  2% {
    -webkit-transform: scaleY(0.9) scaleX(1.1) skewX(3deg);
            transform: scaleY(0.9) scaleX(1.1) skewX(3deg);
  }
  8% {
    -webkit-transform: scaleY(1) scaleX(1) skewX(-3deg);
            transform: scaleY(1) scaleX(1) skewX(-3deg);
  }
  10% {
    -webkit-transform: scaleY(1) scaleX(1) skewX(0deg);
            transform: scaleY(1) scaleX(1) skewX(0deg);
  }
}

@-webkit-keyframes tag1-appear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tag1-appear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes tag2-appear {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tag2-appear {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes tag3-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tag3-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes tag4-appear {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tag4-appear {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes disappearing {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes disappearing {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes robot-normal-move {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  20% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  80% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes robot-normal-move {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  20% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  80% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes robot-angry-move {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  20% {
    -webkit-transform: translateY(-32%);
            transform: translateY(-32%);
  }
  80% {
    -webkit-transform: translateY(-32%);
            transform: translateY(-32%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes robot-angry-move {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  20% {
    -webkit-transform: translateY(-32%);
            transform: translateY(-32%);
  }
  80% {
    -webkit-transform: translateY(-32%);
            transform: translateY(-32%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes arm-normal-move {
  0% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  20% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

@keyframes arm-normal-move {
  0% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  20% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

@-webkit-keyframes arm-angry-move {
  0% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  20% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  40% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  60% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  80% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

@keyframes arm-angry-move {
  0% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  20% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  40% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  60% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  80% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

@-webkit-keyframes robot-body-idle {
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes robot-body-idle {
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes robot-arm-idle {
  100% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

@keyframes robot-arm-idle {
  100% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

@-webkit-keyframes smoke-expand {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes smoke-expand {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes spark-expand {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spark-expand {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes builder-blink-test {
  0% {
    -webkit-filter: none;
            filter: none;
  }
  2% {
    -webkit-filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
            filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
  }
  4% {
    -webkit-filter: none;
            filter: none;
  }
  32% {
    -webkit-filter: none;
            filter: none;
  }
  34% {
    -webkit-filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
            filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
  }
  36% {
    -webkit-filter: none;
            filter: none;
  }
  70% {
    -webkit-filter: none;
            filter: none;
  }
  72% {
    -webkit-filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
            filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
  }
  74% {
    -webkit-filter: none;
            filter: none;
  }
  80% {
    -webkit-filter: none;
            filter: none;
  }
  82% {
    -webkit-filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
            filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
  }
  84% {
    -webkit-filter: none;
            filter: none;
  }
  90% {
    -webkit-filter: none;
            filter: none;
  }
  92% {
    -webkit-filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
            filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
  }
  94% {
    -webkit-filter: none;
            filter: none;
  }
  100% {
    -webkit-filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
            filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
  }
}

@keyframes builder-blink-test {
  0% {
    -webkit-filter: none;
            filter: none;
  }
  2% {
    -webkit-filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
            filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
  }
  4% {
    -webkit-filter: none;
            filter: none;
  }
  32% {
    -webkit-filter: none;
            filter: none;
  }
  34% {
    -webkit-filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
            filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
  }
  36% {
    -webkit-filter: none;
            filter: none;
  }
  70% {
    -webkit-filter: none;
            filter: none;
  }
  72% {
    -webkit-filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
            filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
  }
  74% {
    -webkit-filter: none;
            filter: none;
  }
  80% {
    -webkit-filter: none;
            filter: none;
  }
  82% {
    -webkit-filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
            filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
  }
  84% {
    -webkit-filter: none;
            filter: none;
  }
  90% {
    -webkit-filter: none;
            filter: none;
  }
  92% {
    -webkit-filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
            filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
  }
  94% {
    -webkit-filter: none;
            filter: none;
  }
  100% {
    -webkit-filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
            filter: brightness(0%) saturate(100%) invert(85%) sepia(0%) saturate(73%) hue-rotate(165deg) brightness(100%) contrast(95%);
  }
}

@-webkit-keyframes builder-blink {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0;
  }
  32% {
    opacity: 0;
  }
  34% {
    opacity: 1;
  }
  36% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  72% {
    opacity: 1;
  }
  74% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  82% {
    opacity: 1;
  }
  84% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  92% {
    opacity: 1;
  }
  94% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes builder-blink {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0;
  }
  32% {
    opacity: 0;
  }
  34% {
    opacity: 1;
  }
  36% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  72% {
    opacity: 1;
  }
  74% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  82% {
    opacity: 1;
  }
  84% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  92% {
    opacity: 1;
  }
  94% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes explode-blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes explode-blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-2vw, 0, 0);
            transform: translate3d(-2vw, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(3vw, 0, 0);
            transform: translate3d(3vw, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-6vw, 0, 0);
            transform: translate3d(-6vw, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(6vw, 0, 0);
            transform: translate3d(6vw, 0, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-2vw, 0, 0);
            transform: translate3d(-2vw, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(3vw, 0, 0);
            transform: translate3d(3vw, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-6vw, 0, 0);
            transform: translate3d(-6vw, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(6vw, 0, 0);
            transform: translate3d(6vw, 0, 0);
  }
}
/*# sourceMappingURL=maintenance.css.map */