h1,
h2 {
  opacity: 1;
}

h1:not(#home-title) {
  font-family: 'Source Code Pro', monospace;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(240, 255, 255, 0.229);
}

nav {
  -webkit-animation: nav-appear-animation 500ms ease-in-out forwards;
          animation: nav-appear-animation 500ms ease-in-out forwards;
}

nav #home-title span b {
  color: #7ea6a6;
}

#gallery-section {
  opacity: 0;
  -webkit-transition: opacity 1000ms ease-in-out 500ms;
  transition: opacity 1000ms ease-in-out 500ms;
}

#gallery-section #float-project-icon {
  opacity: 0;
  position: absolute;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: top, left, opacity;
  transition-property: top, left, opacity;
  -webkit-transition-delay: 0ms, 0ms, 0ms;
          transition-delay: 0ms, 0ms, 0ms;
}

#gallery-section #gallery-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gallery-section #gallery-container #gallery-viewport {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: calc(clamp(13rem, 100%, 18rem));
  height: 100%;
}

#gallery-section #gallery-container #gallery-viewport #gallery-light-container {
  position: absolute;
  width: 100%;
  height: 60%;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#gallery-section #gallery-container #gallery-viewport #gallery-light-container #gallery-light-source {
  width: 30%;
}

#gallery-section #gallery-container #gallery-viewport #gallery-light-container #gallery-light {
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(240, 255, 255, 0)), color-stop(25%, rgba(240, 255, 255, 0.65)), color-stop(90%, rgba(240, 255, 255, 0.2)), to(rgba(240, 255, 255, 0)));
  background: linear-gradient(rgba(240, 255, 255, 0) 0%, rgba(240, 255, 255, 0.65) 25%, rgba(240, 255, 255, 0.2) 90%, rgba(240, 255, 255, 0) 100%);
  -webkit-clip-path: polygon(40% 0%, 60% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(40% 0%, 60% 0%, 100% 100%, 0% 100%);
}

#gallery-section #gallery-container #gallery-viewport #frame-left-arrow,
#gallery-section #gallery-container #gallery-viewport #frame-right-arrow {
  height: 2rem;
  padding: 0.5rem;
  z-index: 10;
}

#gallery-section #gallery-container #gallery-viewport #frame-left-arrow {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#gallery-section #gallery-container #gallery-viewport #gallery-frames-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60%;
}

#gallery-section #gallery-container #gallery-viewport #gallery-frames-container .gallery-frame {
  margin-top: 1rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

#gallery-section #gallery-container #gallery-viewport #gallery-frames-container .gallery-frame .frame-inner {
  position: absolute;
  height: calc(min(30%, 6rem));
}

#gallery-section #gallery-container #gallery-viewport #gallery-frames-container .gallery-frame .gallery-frame-img {
  width: 100%;
  height: 100%;
}

#gallery-section #gallery-container #gallery-viewport #gallery-frames-container .gallery-frame:not(#game-dev-frame) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

#gallery-section #gallery-container #gallery-viewport #gallery-frames-container #apps-dev-frame .frame-inner {
  height: calc(min(6rem, 35%));
}

#gallery-section #gallery-container #gallery-viewport #gallery-frames-container #video-composing-frame .frame-inner {
  height: calc(min(5rem, 25%));
}

#gallery-section #gallery-container #gallery-viewport #gallery-frames-container #art-creation-frame .frame-inner {
  height: calc(min(8rem, 45%));
}

#gallery-section #gallery-container #gallery-viewport #gallery-frames-container #model3d-frame .frame-inner {
  height: calc(min(7rem, 35%));
}

#gallery-section #gallery-container #gallery-text-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem 1rem;
  padding: 1rem 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

#gallery-section #gallery-container #gallery-text-container h1 {
  background-color: #ffffff00;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
}

#gallery-section #gallery-container #gallery-text-container #section-title {
  margin: 0.5rem;
}

#gallery-section #gallery-container #gallery-text-container #section-desc {
  padding: 1.5rem;
}

#gallery-section #gallery-container #gallery-text-container #inspect-button {
  position: relative;
  width: 13rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.1rem solid #000000;
}

#gallery-section #gallery-container #gallery-text-container #inspect-button #inspect-button-bg {
  position: absolute;
  width: 99%;
  height: 99%;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: #000000;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  z-index: 0;
}

#gallery-section #gallery-container #gallery-text-container #inspect-button #inspect-button-text {
  z-index: 1;
  color: #000;
  font-size: 1.5rem;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

#gallery-section #gallery-container #gallery-text-container #inspect-button:hover #inspect-button-bg {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#gallery-section #gallery-container #gallery-text-container #inspect-button:hover #inspect-button-text {
  color: white;
}

#gallery-section #gallery-container #gallery-bottom-decor {
  position: absolute;
  width: 100%;
  top: 90vh;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gallery-section #gallery-container #gallery-bottom-decor #bottom-left-line,
#gallery-section #gallery-container #gallery-bottom-decor #bottom-right-line {
  width: 40%;
  height: 0.1rem;
  background-color: rgba(158, 158, 158, 0.5);
}

#gallery-section #gallery-container #gallery-bottom-decor #bottom-center-diamond {
  border: 0.15rem solid rgba(146, 146, 146, 0.8);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 1rem;
  height: 1rem;
  -webkit-animation: bottom-diamond-animation 3s ease-in-out -0.5s infinite;
          animation: bottom-diamond-animation 3s ease-in-out -0.5s infinite;
}

#gallery-section #gallery-container #gallery-bottom-decor .bottom-side-diamond {
  border: 0.15rem solid rgba(146, 146, 146, 0.6);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 1rem;
  width: 0.5rem;
  height: 0.5rem;
  -webkit-animation: bottom-diamond-animation 3s ease-in-out infinite;
          animation: bottom-diamond-animation 3s ease-in-out infinite;
}

.project-section .section-foreground {
  position: relative;
  padding: 2rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.project-section .section-foreground .back-button {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.project-section .section-foreground .back-button .back-button-fg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-section .section-foreground .back-button .back-button-fg .button-line {
  margin: 1rem;
  height: 0.1rem;
  width: calc(min(20rem, 30vw));
  background-color: aliceblue;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.project-section .section-foreground .back-button .back-button-fg .button-line-left {
  -webkit-transform-origin: right;
          transform-origin: right;
}

.project-section .section-foreground .back-button .back-button-fg .button-line-right {
  -webkit-transform-origin: left;
          transform-origin: left;
}

.project-section .section-foreground .back-button .back-button-bg {
  z-index: -1;
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.2rem solid rgba(240, 255, 255, 0.528);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.project-section .section-foreground .project-title {
  margin: 2rem;
  padding: 2rem;
}

.project-section .section-foreground .projects-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.project-section .section-foreground .projects-grid .project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(240, 255, 255, 0.434);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 1rem;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  transition: opacity 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.project-section .section-foreground .projects-grid .project-card .card-img {
  position: relative;
  top: -0.8rem;
  left: -0.8rem;
  border-radius: 0.8rem;
  margin: 1rem;
  margin-top: 2rem;
  width: 60%;
  -webkit-box-shadow: 0.8rem 0.8rem rgba(24, 24, 24, 0.219);
          box-shadow: 0.8rem 0.8rem rgba(24, 24, 24, 0.219);
}

.project-section .section-foreground .projects-grid .project-card .card-text-container {
  padding: 1rem;
}

.project-section .section-foreground .projects-grid .project-card .card-text-container .card-title {
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: 400;
}

.project-section .section-foreground .projects-grid .project-card .card-text-container .card-desc {
  padding: 1rem;
  text-align: justify;
  font-weight: 200;
}

.project-section .section-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -10;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
  -webkit-transition: -webkit-clip-path 800ms ease-in-out;
  transition: -webkit-clip-path 800ms ease-in-out;
  transition: clip-path 800ms ease-in-out;
  transition: clip-path 800ms ease-in-out, -webkit-clip-path 800ms ease-in-out;
}

#game-projects #game-projects-title {
  color: #067e6c;
}

#game-projects .card-desc a {
  color: #156378;
}

#game-projects #reality-shifter .card-title {
  color: #167279;
}

#game-projects #cavo-cado .card-title {
  color: #12bb4d;
}

#game-projects #rogue-flapper .card-title {
  color: #91ae5b;
}

#game-projects #megaman-sf .card-title {
  color: #28a5b3;
}

#game-projects .section-background {
  background: -webkit-gradient(linear, left top, left bottom, from(#c1dcee), to(#a2c4aa));
  background: linear-gradient(#c1dcee 0%, #a2c4aa 100%);
}

#apps-projects #apps-projects-title {
  color: #3737a4;
}

#apps-projects #hk-beta .card-title {
  color: #871b82;
}

#apps-projects #love-story .card-title {
  color: #7773da;
}

#apps-projects .section-background {
  background: -webkit-gradient(linear, left top, left bottom, from(#9898ce), to(#67cfdf));
  background: linear-gradient(#9898ce 0%, #67cfdf 100%);
}

#dl-projects #dl-projects-title {
  color: #543761;
}

#dl-projects #inverse-design .card-title {
  color: #871b5e;
}

#dl-projects #mapping-network .card-title {
  color: #363563;
}

#dl-projects #mapnet .card-title {
  color: #191096;
}

#dl-projects .section-background {
  background: -webkit-gradient(linear, left top, left bottom, from(#85a7bf), to(#bca8df));
  background: linear-gradient(#85a7bf 0%, #bca8df 100%);
}

#video-projects #video-projects-title {
  color: #72831f;
}

#video-projects #microsoft-promo .card-title {
  color: #8d9153;
}

#video-projects .section-background {
  background: -webkit-gradient(linear, left top, left bottom, from(#c2dcb8), to(#dfbda8));
  background: linear-gradient(#c2dcb8 0%, #dfbda8 100%);
}

#art-projects #art-projects-title {
  color: #72262f;
}

#art-projects #uiux-projects .card-title {
  color: #b0414b;
}

#art-projects #pixel-arts .card-title {
  color: #dc53aa;
}

#art-projects #photos-editing .card-title {
  color: #ed8678;
}

#art-projects .section-background {
  background: -webkit-gradient(linear, left top, left bottom, from(#cd98cb), to(#dfa8b5));
  background: linear-gradient(#cd98cb 0%, #dfa8b5 100%);
}

#model3d-projects #model3d-projects-title {
  color: #5a1111;
}

#model3d-projects #solidworks-projects .card-title {
  color: #7c3e21;
}

#model3d-projects .section-background {
  background: -webkit-gradient(linear, left top, left bottom, from(#d89c9c), to(#b1a595));
  background: linear-gradient(#d89c9c 0%, #b1a595 100%);
}

#background {
  opacity: 0;
  -webkit-transition: opacity 1000ms ease-in-out;
  transition: opacity 1000ms ease-in-out;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1000;
}

#background #background-color {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), to(white));
  background: linear-gradient(#aaaaaa 0%, white 100%);
}

@-webkit-keyframes nav-appear-animation {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes nav-appear-animation {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes bottom-diamond-animation {
  0% {
    -webkit-transform: rotate(45deg) scale(0.8);
            transform: rotate(45deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(1.2);
            transform: rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(45deg) scale(0.8);
            transform: rotate(45deg) scale(0.8);
  }
}

@keyframes bottom-diamond-animation {
  0% {
    -webkit-transform: rotate(45deg) scale(0.8);
            transform: rotate(45deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(45deg) scale(1.2);
            transform: rotate(45deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(45deg) scale(0.8);
            transform: rotate(45deg) scale(0.8);
  }
}

@media only screen and (max-width: 40rem) {
  #gallery-section #gallery-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #gallery-section #gallery-container #gallery-viewport {
    margin-top: 8rem;
    height: 40vh;
  }
  #gallery-section #gallery-container #gallery-viewport #gallery-light-container {
    height: 100%;
  }
  #gallery-section #gallery-container #gallery-viewport #gallery-frames-container {
    height: 100%;
  }
  #gallery-section #gallery-container #gallery-viewport #gallery-frames-container .gallery-frame {
    height: 100%;
  }
  #gallery-section #gallery-container #gallery-text-container {
    width: 100%;
    height: 40%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #gallery-section #gallery-container #gallery-text-container #section-title {
    font-size: 2rem;
    padding: 0 1rem;
  }
  #gallery-section #gallery-container #gallery-text-container #section-desc {
    font-size: 1rem;
    padding: 0 1rem;
  }
}

@media only screen and (min-width: 40rem) {
  #gallery-section #gallery-container #gallery-bottom-decor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=projects.css.map */