h1,
h2 {
    opacity: 1;
}

h1:not(#home-title) {
    font-family: 'Source Code Pro', monospace;
    backdrop-filter: blur(3px);
    background-color: rgba(240, 255, 255, 0.229);
}

nav {
    animation: nav-appear-animation 500ms ease-in-out forwards;
    #home-title {
        span {
            b {
                color: rgb(20, 176, 160);
            }
        }
    }
    #expanded-menu ul .nav-list-bg {
        background-color: rgb(228, 228, 228);
    }
}

#gallery-section {
    // position: fixed;
    // width: 100vw;
    // height: 100vh;
    // display: flex;
    // display: none;
    // justify-content: center;
    // align-items: center;
    #float-project-icon {
        opacity: 0;
        position: absolute;
        transition: top 800ms ease-in-out, left 800ms ease-in-out;
    }
    #gallery-container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 500ms ease-in-out;
        #gallery-frames-arrows {
            display: flex;
            align-items: center;
            justify-content: center;
            #frame-left-arrow,
            #frame-right-arrow {
                height: 2rem;
                padding: 0.5rem;
            }
            #frame-left-arrow {
                transform: scaleX(-1);
            }
            #gallery-frames-container {
                display: flex;
                justify-content: center;
                align-items: center;
                .gallery-frame {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: calc(min(100%, 20rem));
                    .frame-inner {
                        position: absolute;
                        width: 60%;
                    }
                    .gallery-frame-img {
                        width: 100%;
                    }
                }
            }
        }
        #gallery-text-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                background-color: #ffffff00;
                backdrop-filter: blur(0px);
            }
            #project-desc {
                padding: 2rem;
            }
            #inspect-button {
                position: relative;
                width: 15rem;
                height: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                border: 0.1rem solid #000000;
                #inspect-button-bg {
                    position: absolute;
                    width: 99%;
                    height: 99%;
                    transform-origin: left;
                    transform: scaleX(0);
                    background-color: #000000;
                    transition: transform 500ms ease-in-out;
                    z-index: 0;
                }
                #inspect-button-text {
                    z-index: 1;
                    color: #000;
                    font-size: 1.5rem;
                    transition: color 800ms ease-in-out;
                }
            }
            #inspect-button:hover {
                #inspect-button-bg {
                    transform: scaleX(1);
                }
                #inspect-button-text {
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
}

.project-section {
    // margin-top: 6rem;
    .section-foreground {
        position: relative;
        padding: 2rem;
        // display: flex;
        display: none;
        flex-direction: column;
        align-items: center;
        transition: opacity 500ms ease-in-out;
        .back-button {
            margin-top: 6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 4rem;
            padding: 0.5rem;
            .back-button-fg {
                display: flex;
                align-items: center;
                .button-line {
                    margin: 1rem;
                    height: 0.1rem;
                    width: calc(min(20rem, 30vw));
                    background-color: aliceblue;
                    transform: scaleX(0);
                    transition: transform 500ms ease-in-out;
                }
                .button-line-left {
                    transform-origin: right;
                }
                .button-line-right {
                    transform-origin: left;
                }
            }
            .back-button-bg {
                z-index: -1;
                position: absolute;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                border: 0.2rem solid rgba(240, 255, 255, 0.528);
                transition: transform 500ms ease-in-out;
            }
        }
        // .project-icon {
        //     position: absolute;
        //     transform: translateY(50%);
        //     top: 15rem;
        // }
        .project-title,
        .project-desc {
            padding: 2rem;
        }
        .project-desc {
            margin-top: 3rem;
        }
        .projects-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
            // grid-template-columns: 1fr 1fr;
            gap: 1.5rem;
            .project-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: rgba(240, 255, 255, 0.434);
                backdrop-filter: blur(8px);
                border-radius: 1rem;
                .card-img {
                    position: relative;
                    top: -0.8rem;
                    left: -0.8rem;
                    border-radius: 0.8rem;
                    margin: 1rem;
                    margin-top: 2rem;
                    width: 60%;
                    box-shadow: 0.8rem 0.8rem rgba(24, 24, 24, 0.219);
                    // height: 10rem;
                }
                .card-text-container {
                    padding: 1rem;
                    .card-title {
                        padding: 0.5rem;
                        font-size: 2rem;
                        font-weight: 400;
                    }
                    .card-desc {
                        padding: 1rem;
                        text-align: justify;
                        font-weight: 200;
                    }
                }
            }
        }
    }
    .section-background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: -10;
        clip-path: circle(0%);
        transition: clip-path 800ms ease-in-out;
    }
}

#game-projects {
    #game-projects-title {
        // color: rgb(83, 170, 141);
        color: rgb(6, 126, 108);
    }
    #game-projects-desc {
        a {
            color: rgb(21, 99, 120);
        }
    }
    .card-desc {
        a {
            color: rgb(21, 99, 120);
        }
    }
    #reality-shifter .card-title {
        color: rgb(22, 114, 121);
    }
    #cavo-cado .card-title {
        color: rgb(18, 187, 77);
    }
    #rogue-flapper .card-title {
        color: rgb(145, 174, 91);
    }
    #megaman-sf .card-title {
        color: rgb(40, 165, 179);
    }
    .section-background {
        background: linear-gradient(rgb(193, 220, 238) 0%, rgb(162, 196, 170) 100%);
    }
}

#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1000;
    #background-color {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgb(193, 220, 238) 0%, rgb(162, 196, 170) 100%);
    }
}

@keyframes nav-appear-animation {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}