h1,
h2 {
    opacity: 1;
}

h1:not(#home-title) {
    font-family: 'Source Code Pro', monospace;
    backdrop-filter: blur(3px);
    background-color: rgba(240, 255, 255, 0.229);
}

nav {
    // background: rgba(227, 227, 227, 0.415);
    animation: nav-appear-animation 500ms ease-in-out forwards;
    #home-title {
        span {
            b {
                color: rgb(20, 176, 160);
            }
        }
    }
    // #expanded-menu ul .nav-list-bg {
    // background-color: rgb(248, 248, 248);
    // box-shadow: 0 0 0.1rem 0.1rem rgba(173, 173, 173, 0.719);
    // border: 0.1rem solid rgb(214, 214, 214);
    // }
}

#gallery-section {
    opacity: 0;
    transition: opacity 1000ms ease-in-out 500ms;
    // position: fixed;
    // width: 100vw;
    // height: 100vh;
    // display: flex;
    // display: none;
    // justify-content: center;
    // align-items: center;
    #float-project-icon {
        opacity: 0;
        position: absolute;
        // transition: top 800ms ease-in-out, left 800ms ease-in-out;
        // transition-duration: 800ms, 800ms, 0s;
        transition-timing-function: ease-in-out;
        transition-property: top, left, opacity;
        transition-delay: 0ms, 0ms, 0ms;
    }
    #gallery-container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        // display: none;
        justify-content: center;
        align-items: center;
        #gallery-viewport {
            padding: 0 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: calc(min(100%, 20rem));
            height: 50%;
            #gallery-light-container {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 5;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                #gallery-light-source {
                    width: 30%;
                }
                #gallery-light {
                    height: 100%;
                    width: 100%;
                    transition: opacity 300ms ease-in-out;
                    background: linear-gradient(rgba(240, 255, 255, 0) 0%, rgba(240, 255, 255, 0.65) 25%, rgba(240, 255, 255, 0.2) 90%, rgba(240, 255, 255, 0) 100%);
                    clip-path: polygon(40% 0%, 60% 0%, 100% 100%, 0% 100%);
                }
            }
            #frame-left-arrow,
            #frame-right-arrow {
                height: 2rem;
                padding: 0.5rem;
                z-index: 10;
            }
            #frame-left-arrow {
                transform: scaleX(-1);
            }
            #gallery-frames-container {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80%;
                .gallery-frame {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    // width: calc(min(100%, 20rem));
                    transition: transform 500ms ease-in-out;
                    // transform: scaleX(1);
                    .frame-inner {
                        position: absolute;
                        width: 60%;
                    }
                    .gallery-frame-img {
                        width: 100%;
                    }
                }
                .gallery-frame:not(#game-dev-frame) {
                    transform: scaleX(0);
                }
                #apps-dev-frame .frame-inner {
                    width: 40%;
                }
                #art-creation-frame .frame-inner {
                    width: 50%;
                }
                #model3d-frame .frame-inner {
                    width: 50%;
                }
            }
        }
        #gallery-text-container {
            width: 50vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0rem 1rem;
            padding: 1rem 0;
            transition: opacity 300ms ease-in-out;
            h1 {
                background-color: #ffffff00;
                backdrop-filter: blur(0px);
            }
            #section-desc {
                padding: 2rem;
            }
            #inspect-button {
                position: relative;
                width: 15rem;
                height: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                border: 0.1rem solid #000000;
                #inspect-button-bg {
                    position: absolute;
                    width: 99%;
                    height: 99%;
                    transform-origin: left;
                    transform: scaleX(0);
                    background-color: #000000;
                    transition: transform 250ms ease-in-out;
                    z-index: 0;
                }
                #inspect-button-text {
                    z-index: 1;
                    color: #000;
                    font-size: 1.5rem;
                    transition: color 250ms ease-in-out;
                }
            }
            #inspect-button:hover {
                #inspect-button-bg {
                    transform: scaleX(1);
                }
                #inspect-button-text {
                    color: rgb(255, 255, 255);
                }
            }
        }
        #gallery-bottom-decor {
            position: absolute;
            width: 100%;
            top: 90vh;
            display: none;
            justify-content: center;
            align-items: center;
            #bottom-left-line,
            #bottom-right-line {
                width: 40%;
                height: 0.1rem;
                background-color: rgba(158, 158, 158, 0.5);
            }
            #bottom-center-diamond {
                border: 0.15rem solid rgba(146, 146, 146, 0.8);
                transform: rotate(45deg);
                width: 1rem;
                height: 1rem;
                animation: bottom-diamond-animation 3s ease-in-out -0.5s infinite;
            }
            .bottom-side-diamond {
                border: 0.15rem solid rgba(146, 146, 146, 0.6);
                transform: rotate(45deg);
                margin: 1rem;
                width: 0.5rem;
                height: 0.5rem;
                animation: bottom-diamond-animation 3s ease-in-out infinite;
            }
        }
    }
}

.project-section {
    // margin-top: 6rem;
    .section-foreground {
        position: relative;
        padding: 2rem;
        // display: flex;
        display: none;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        transition: opacity 500ms ease-in-out;
        .back-button {
            margin-top: 6rem;
            // margin-bottom: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            .back-button-fg {
                display: flex;
                align-items: center;
                .button-line {
                    margin: 1rem;
                    height: 0.1rem;
                    width: calc(min(20rem, 30vw));
                    background-color: aliceblue;
                    transform: scaleX(0);
                    transition: transform 500ms ease-in-out;
                }
                .button-line-left {
                    transform-origin: right;
                }
                .button-line-right {
                    transform-origin: left;
                }
            }
            .back-button-bg {
                z-index: -1;
                position: absolute;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                border: 0.2rem solid rgba(240, 255, 255, 0.528);
                transition: transform 500ms ease-in-out;
            }
        }
        .project-title {
            margin: 2rem;
            padding: 2rem;
        }
        .projects-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
            gap: 1.5rem;
            .project-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: rgba(240, 255, 255, 0.434);
                backdrop-filter: blur(8px);
                border-radius: 1rem;
                transform: translateY(50%);
                opacity: 0;
                transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
                .card-img {
                    position: relative;
                    top: -0.8rem;
                    left: -0.8rem;
                    border-radius: 0.8rem;
                    margin: 1rem;
                    margin-top: 2rem;
                    width: 60%;
                    box-shadow: 0.8rem 0.8rem rgba(24, 24, 24, 0.219);
                    // height: 10rem;
                }
                .card-text-container {
                    padding: 1rem;
                    .card-title {
                        padding: 0.5rem;
                        font-size: 2rem;
                        font-weight: 400;
                    }
                    .card-desc {
                        padding: 1rem;
                        text-align: justify;
                        font-weight: 200;
                    }
                }
            }
        }
    }
    .section-background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: -10;
        clip-path: circle(0%);
        transition: clip-path 800ms ease-in-out;
    }
}

#game-projects {
    #game-projects-title {
        // color: rgb(83, 170, 141);
        color: rgb(6, 126, 108);
    }
    .card-desc {
        a {
            color: rgb(21, 99, 120);
        }
    }
    #reality-shifter .card-title {
        color: rgb(22, 114, 121);
    }
    #cavo-cado .card-title {
        color: rgb(18, 187, 77);
    }
    #rogue-flapper .card-title {
        color: rgb(145, 174, 91);
    }
    #megaman-sf .card-title {
        color: rgb(40, 165, 179);
    }
    .section-background {
        background: linear-gradient(rgb(193, 220, 238) 0%, rgb(162, 196, 170) 100%);
    }
}

#apps-projects {
    #apps-projects-title {
        color: rgb(55, 55, 164);
    }
    #hk-beta .card-title {
        color: rgb(135, 27, 130);
    }
    #love-story .card-title {
        color: rgb(119, 115, 218);
    }
    .section-background {
        background: linear-gradient(rgb(135, 135, 198) 0%, rgb(103, 207, 223) 100%);
    }
}

#dl-projects {
    #dl-projects-title {
        color: rgb(84, 55, 97);
    }
    #inverse-design .card-title {
        color: rgb(135, 27, 94);
    }
    #mapping-network .card-title {
        color: rgb(54, 53, 99);
    }
    #mapnet .card-title {
        color: rgb(25, 16, 150);
    }
    .section-background {
        background: linear-gradient(rgb(105, 129, 146) 0%, rgb(188, 168, 223) 100%);
    }
}

#video-projects {
    // .section-foreground {
    //     display: flex;
    //     opacity: 1;
    // }
    #video-projects-title {
        color: rgb(114, 131, 31);
    }
    #microsoft-promo .card-title {
        color: rgb(141, 145, 83);
    }
    .section-background {
        background: linear-gradient(rgb(194, 220, 184) 0%, rgb(223, 189, 168) 100%);
        // clip-path: circle(100%);
    }
}

#art-projects {
    // .section-foreground {
    //     display: flex;
    //     opacity: 1;
    // }
    #art-projects-title {
        color: rgb(114, 38, 47);
    }
    #uiux-projects .card-title {
        color: rgb(176, 65, 75);
    }
    #pixel-arts .card-title {
        color: rgb(220, 83, 170);
    }
    #photos-editing .card-title {
        color: rgb(237, 134, 120);
    }
    .section-background {
        background: linear-gradient(rgb(205, 152, 203) 0%, rgb(223, 168, 181) 100%);
        // clip-path: circle(100%);
    }
}

#model3d-projects {
    // .section-foreground {
    //     display: flex;
    //     opacity: 1;
    // }
    #model3d-projects-title {
        color: rgb(90, 17, 17);
    }
    #solidworks-projects .card-title {
        color: rgb(124, 62, 33);
    }
    .section-background {
        background: linear-gradient(rgb(210, 129, 129) 0%, rgb(177, 165, 149) 100%);
        // clip-path: circle(100%);
    }
}

#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1000;
    #background-color {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgb(170, 170, 170) 0%, rgb(255, 255, 255) 100%);
        opacity: 0;
        transition: opacity 1000ms ease-in-out;
    }
}

@keyframes nav-appear-animation {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes bottom-diamond-animation {
    0% {
        transform: rotate(45deg) scale(0.8);
    }
    50% {
        transform: rotate(45deg) scale(1.2);
    }
    100% {
        transform: rotate(45deg) scale(0.8);
    }
}

@media only screen and (max-width: 40rem) {
    #gallery-section {
        #gallery-container {
            flex-direction: column;
            justify-content: flex-start;
            // background-color: aquamarine;
            #gallery-viewport {
                margin-top: 10rem;
            }
            #gallery-text-container {
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 40rem) {
    #gallery-section {
        #gallery-container {
            #gallery-bottom-decor {
                display: flex;
            }
        }
    }
}