* {
    padding: 0;
    margin: 0;
}

div#mainblock {
    display: block;
    // width: 100%;
    background-color: cyan;
    font-size: 2rem;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
}

button {
    display: block;
    margin: 50px auto;
}

.dots-cont {
    position: absolute;
    background-color: purple;
    left: 0;
    right: 0;
    align-content: center;
}

.dots {
    display: inline-block;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    width: 2rem;
    height: 2rem;
    background-color: darkblue;
    // border-radius: 50%;
}